# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
.turbo/

# Environment
.env
.env.local
.env.*.local
*.local
S3_CREDENTIALS*

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Docker
docker/data/
